.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.form-title {
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-top: 0;
}

.form-row {
    margin-bottom: 0.5rem;
    width: 100%;

    &.split {
        display: flex;
        gap: 0.75rem;
    }

    &.compact-row {
        margin-bottom: 1rem;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.full-width {
    width: 100%;
}

.custom-cycle-group {
    align-items: baseline;

    mat-form-field {
        flex: 1;
    }
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}